<li class="list-group-item">
  <h6>
    <%= link_to get_full_name_for(comment.user), comment.user %>
  </h6>
  <small class="text-muted mb-2 d-block">
    commented <%= time_ago_in_words comment.created_at %> ago
  </small>
  <p>
    <%= comment.content %>
  </p>
</li>