<div class="row justify-content-center">
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
    <% if @notifications.any? %>
      <ul class="list-group">
        <% @notifications.each do |notification| %>
          <%= link_to notification.subject.post do %>
            <li class="row list-group-item d-flex align-items-center">
              <div class="p-0 m-0">
                <span class="mr-3"><%= profile_photo_for(notification.actor, options: { size: 60, circle: true }) %></span>
              </div>
              <div class="p-0 m-2 text-left">
                  <%= get_full_name_for(notification.actor)%> <%= notification_text_for(notification)%>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
