<li class="mb-3">
  <%= gravatar_for user %>
  <%= link_to get_full_name_for(user), user %>
  <%= link_to 'Add friend',
        friend_requests_path(friend_request: {sender: current_user,
                             receiver: user,
                             status: 0} ),
        method: :post,
        class: "btn btn-primary"
    %>
</li>