<% if @user.friend_requests_received.pending.any?  %>
  <h2>New friend requests</h2>
  <ul>
    <% @user.friend_requests_received.pending.each do |request| %>
      <li>
        <%= get_full_name_for(request.sender) %>
          <%= link_to "Accept", friend_request_accept_path(request), method: :post, class: 'btn btn-primary' %>
        <%= link_to "Decline", friend_request_decline_path(request), method: :post, class: 'btn btn-alert' %>
      </li>
    <% end %>
  </ul>
<% end %>

<% @user.friends.each do |friend| %>
  <p><%= get_full_name_for(friend) %></p>
<% end %>
