<div class="row mt-0">
  <div class="col-md-6 mx-auto d-flex align-items-end mb-5 pt-5 pb-2">
    <%= gravatar_for(@user, options: { size: 150, circle: true }) %>
    <div class="ml-3" style="color:white;">
      <h3><%= get_full_name_for(@user) %></h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mx-auto">
      <% if @user.posts.any? %>
        <ul class="list-unstyled pl-0", id="posts">
          <%= render @user.posts %>
        </ul>
      <% end %>
    </div>
  </div>
</div>


