<div class="row justify-content-center">
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
    <div class="new-post mb-5">
      <%= render 'posts/form' %>
    </div>
    <ul class="list-unstyled", id="posts">
      <%= render @posts %>
    </ul>
    <%= link_to 'Load more', posts_path(posts_page: @posts.next_page),
          remote: true, id: "post-pagination-link",
          class:"btn btn-primary mb-5",style: "width:100%;" %>
  </div>
</div>