<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="new-post mb-5">
      <%= render 'posts/form' %>
    </div>
    <ul class="list-unstyled", id="posts">
      <%= render @posts %>
    </ul>
    <%= link_to 'Load more', posts_path(post_page: @posts.next_page),
          remote: true, class:"btn btn-primary",
          style: "width:100%;" %>
  </div>
</div>
