@import "bootstrap";


.field_with_errors {
  .form-control {
    @extend .is-invalid;
  }
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }


.friend_request-links {
  width: 200px;
  a, input[type="submit"] {
    width: 100%;
  }
  .half-width {
    a, input[type="submit"] {
    width: 48%;
    }
  }
}

