<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Find friends', users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My profile', current_user, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'My friends', me_friends_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>

